[Unit]
Description=PiGame desktop manager
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pizero
ExecStart=/home/pizero/pigame/run-pigame-manager.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
